<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/style1.css" type="text/css">
</head>
<body>
    <div class="box" id="heading">
    <h1> 14 june 2023</h1>
    
    
    </div>
       <div class="box">
                 <h3>Add Your Tasks Below</h3>
                 <!-- <%  for (var i=0 ; i<newListIteams.length ; i++){  %>
                 <p> <%=newListIteams[i]%></p>

               <% } %> -->
            <div class="item">
                       
                <input id="checkbox" type="checkbox">
                <p> Lorem sdfghjk sdfghjkl sdfghjkl.</p>
            
                
            </div>      
                
            
            <form class="item1" action="/" method="post">
              <input type="text" name="newIteam" placeholder="add new item" autocomplete="off">
              <button type="submit" name="button">+</button>
            </form>
        </div>

        <div>
            <p class="ad">
               ©️ ADIB AFSAR - 2023 
            </p>
        </div>
</body>
</html> 